@import "tailwindcss";




h1{
color: black;
font-weight: bolder;
font-size: 20px;
text-shadow: 7px 3px 8px  black;
}
span{
    color: grey;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.links a {
  transition:all 0.3s linear;
  padding: 0.5rem 1rem;
}
.links a:hover {
  
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
transition:all 0.3s linear;
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
     .links-container {
    height: auto !important;
  }
   .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .links{
    display: flex;
  }
   .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
   .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons{
    display: flex;
    justify-content: space-between;
  }
   .social-icons a {
    margin: 0 0.5rem;
    
    transition:all 0.3s linear;
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}
